[supervision]
cible={{ inventory_hostname }}
# TODO 8 : remplacer TODO_SEUIL par l'expression Jinja de seuil_disque_pct.
seuil_disque_pct=TODO_SEUIL
# TODO 9 : remplacer TODO_INTERVALLE par l'expression Jinja de intervalle_s.
intervalle_s=TODO_INTERVALLE
